:host {
  display: block;
}

.nav {
  border-right: 1px solid #ccc;
}

.list-panel {
  background-color: #fafafa;
}

.list-panel {
  --paper-header-panel-standard-container: {
    border-right: 1px solid #ccc;
  };
}

paper-toolbar {
  background-color: #42A5F5;
}



.main-drawer-panel:not([narrow]) [list-toggle] {
  display: none;
}

